#home-top{
    position: fixed;
    transition: top 0.2s ease-in-out;   
}

.boxed {
  border: 2px solid green ;
}

#beach-holder {
    max-width: 100%;
    height: auto;
}
#avatar{
    width: 80%;
    height: auto;
}
#work{
    display: none;
}
#projects{
    display: none;
}