#home-top{
    position: fixed;
    transition: top 0.2s ease-in-out;   
}

.boxed {
  border: 2px solid green ;
}
.project-box{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    -webkit-box-shadow: 0 3px 3px 2px #C2C2C2;
    box-shadow: 0 3px 3px 2px #C2C2C2;
    width: 275px;
    height: 275px;
    margin: 10px;  
    vertical-align: top;
}
.project-box:hover{
    background-color: #EEEEEE;
}

#head-slider{
    color: #8bbdeb;
}
#beach-holder {
    max-width: 100%;
    height: auto;
}
#avatar{
    width: 80%;
    height: auto;
}

#giticon{
    width: 15%;
    height: auto;
}
#linkedinicon{
    width: 15%;
    height: auto;
}
#fbicon{
    width: 15%;
    height: auto;
}
#avticon{
    width: 15%;
    height: auto;
}
#clevest{
    background-color: #8bbdeb;
    padding-bottom: 100px;
    padding-top: 100px;
}
#clevest h2{
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: "Arial";
}
#clevest p{
    color: white;
    font-family: "Helvetica Neue", sans-serif;

}
#clevest ul{
    color: white;
    font-family: "Helvetica Neue", sans-serif;

}
#intro{
    background-color: #fff;
}
#clevest-logo{

    padding-bottom: 20px
    width: 150%
    height: auto;
}
#clevest-btn{
    background-color: #3BA6F0;
}
#clevest-btn:hover{
    background-color: #0092F8;
}
#clevest-devices{
    width: 20%
    height: 20%;
}
#clevest-info{
    display: none;
}

.ubc-logo{
    width: 225px;
    height: auto;
}
#ubc-btn{
    background-color: #F9FD7C;
}
#ubc-btn:hover{
    background-color: #E7EC4A;
}
#ubc-info{
    display: none;
}

#ubc{
    background-color: #414A8C;
    padding-bottom: 100px;
    padding-top: 100px;
}
#ubc h2{
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: "Arial";
}
#ubc p{
    color: white;
    font-family: "Helvetica Neue", sans-serif;

}
#ubc ul{
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}
#ubc-fountain{
    width: 800px;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.mojio-logo{
    width: 225px;
    height: auto;
}
#mojio-btn{
    background-color: #F96060;
}
#mojio-btn:hover{
    background-color: #FB4A4A;;
}
#mojio-info{
    display: none;
}

#mojio{
    background-color: #666;
    padding-bottom: 100px;
    padding-top: 100px;
}
#mojio h2{
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: "Arial";
}
#mojio p{
    color: white;
    font-family: "Helvetica Neue", sans-serif;

}
#mojio ul{
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}
#mojio-pic{ 
    width: 800px;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.rallyteam-logo{
    width: 225px;
    height: auto;
}
#rallyteam-btn{
    background-color: #f0f0f0;
}
#rallyteam-btn:hover{
    background-color: #d7d7d7;;
}
#rallyteam-info{
    display: none;
}

#rallyteam{
    background-color: #1a81e0;
    padding-bottom: 100px;
    padding-top: 100px;
}
#rallyteam h2{
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: "Arial";
}
#rallyteam p{
    color: white;
    font-family: "Helvetica Neue", sans-serif;

}
#rallyteam ul{
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}
#rallyteam-pic{ 
    width: 800px;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.starbucks-logo{
    width: 225px;
    height: auto;
}
#starbucks-btn{
    background-color: #FFF;
}
#starbucks-btn:hover{
    background-color: #D1D2D2;;
}
#starbucks-info{
    display: none;
}

#starbucks{
    background-color: #2B8815;
    padding-bottom: 100px;
    padding-top: 100px;
}
#starbucks h2{
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: "Arial";
}
#starbucks p{
    color: white;
    font-family: "Helvetica Neue", sans-serif;

}
#starbucks ul{
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}



#avt-logo{
    position: relative;
    margin:0 auto; 
    width: auto;
    height: 100%;
}
#book-logo{
    position: relative;
    margin:0 auto; 
    margin-top: 30px;
    width: 100%;
    height: auto;
}
#rally-logo{
    position: relative;
    margin:0 auto; 
    margin-top: 100px;
    width: 100%;
    height: auto;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes moveInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes moveOutToLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@keyframes moveOutToLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@-webkit-keyframes moveInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes moveOutToRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}

@keyframes moveOutToRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}

.sceneElement {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.is-exiting .sceneElement {
    transition-timing-function: ease-out;
}

#main[data-transition=fade] .sceneElement {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#main[data-transition=fade].is-exiting .sceneElement {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

#main[data-transition=moveleft] .sceneElement {
    -webkit-animation-name: moveInFromLeft;
    animation-name: moveInFromLeft;
}

#main[data-transition=moveleft].is-exiting .sceneElement {
    -webkit-animation-name: moveOutToRight;
    animation-name: moveOutToRight;
}

#main[data-transition=moveright] .sceneElement {
    -webkit-animation-name: moveInFromRight;
    animation-name: moveInFromRight;
}

#main[data-transition=moveright].is-exiting .sceneElement {
    -webkit-animation-name: moveOutToLeft;
    animation-name: moveOutToLeft;
}